article img {
	border: 0px;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	-moz-box-shadow: 0 0 0 0;
}
article blockquote {
	font-size:1em;
}
div .highlight {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.section_header {
	margin: 0 auto;
	display: block;
}
